{%extends "base.html"%} {%block title%}Avengers Infinity War{% endblock %}

{%block content%}
<main>
    <div class="image-box">
        <img src="{{url_for('static', filename='/image/infinity-war.jpg')}}"/>
    </div>
    <div class="text-box">
        <h1>Avengers Infinity War</h1>
        <h3>Beschrijving</h3>
        <div class="beschrijving-box">
            <p>De Marvel Cinematic Universe brengt na 10 jaar de ultieme, meest gevreesde confrontatie aller tijden naar het scherm in de spectaculaire film Marvel's Avengers: Infinity War.
                <br>
                <br>
                Tien jaar nadat de eerste film van het Marvel Cinematic Universe werd uitgebracht, komt de spanning tot een hoogtepunt in de grootste confrontatie aller tijden in Marvel’s Avengers: Infinity War. Voor het eerst komen alle helden en hun bondgenoten uit alle voorgaande films bij elkaar om het op te nemen tegen de machtige Thanos die een bedreiging vormt die te groot is voor een enkele held. 
                <br>
                <br>
                De Avengers moeten bereid zijn alles op te geven in een poging om Thanos te verslaan, voordat zijn missie slaagt en zijn verwoesting een einde brengt aan alles.
            </p>
        </div>
        <p>Cast:</p>
        {% for acteur in acteurs.items %}
            {%  if acteur.title == 'Avengers Infinity War' %}
                <p><a href="{{ url_for('acteur', acteur_id=acteur.id)}}">{{ acteur.first_name }} {{ acteur.last_name }} </a> Rol: {{ acteur.name_character }}</p>
            {%endif%}
        {% endfor %}
            <a href="/acteur/new"><button class="btn btn-warning ml-5 mb-2 mt-3">Acteur toevoegen</button></a>
            <p>Regisseur:</p>
        {% for regisseur in regisseurs.items %}
            {%  if regisseur.title == 'Avengers Infinity War' %}
                <a href="{{ url_for('regisseur', regisseur_id=regisseur.id)}}">{{ regisseur.first_name }} {{ regisseur.last_name }} <br></a>
            {%endif%}
        {% endfor %}
            <a href="/regisseur/new"><button class="btn btn-warning ml-5 mb-2 mt-3">Regisseur toevoegen</button></a>
        <p>Aantal bezoekers: 11 miljoen</p>
        <p>Behaalde omzet: 900 miljoen dollar</p>
    </div>
    <div class="trailer-box">
    <iframe src="https://www.youtube.com/embed/6ZfuNTqbHE8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
</main>

<h3 class="m-5">Reacties</h3>
<a href="/post/new"><button class="btn btn-warning ml-5">Reactie plaatsen</button></a>
{% for post in posts.items %}
    {% if post.title == 'Avengers Infinity War' %}

<article class="media content-section m-5 mb-2">
  <div class="media-body">
    <div class="article-metadata">
      <h5><a href="{{ url_for('user_posts', name=post.author.name) }}">{{ post.author.name.title() }}</a> <small>Geplaatst: {{ post.data_posted.strftime('%d-%h-%Y') }}</small></h5>

    </div>
    <p> Titel: <a class="article-title" href="{{ url_for('post', post_id=post.id)}}" style="text-align: left;">{{ post.title }}</a></p>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
    {%endif%}
{% endfor %}

{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if posts.page == page_num %}
<a class="btn btn-warning ml-5 mb-5" href="{{ url_for('film3', page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-warning ml-5 mb-5" href="{{ url_for('film3', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}
    ...
    {% endif %}
{% endfor %}

{%endblock%}